body {
font-family: Arial;
background: #f5f5f5;
margin: 0;
padding: 0;
}

.navbar {
background: white;
padding: 20px;
display: flex;
justify-content: center;
gap: 30px;
font-size: 22px;
box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}


.container {
display: flex;
flex-direction: column;
gap: 25px;
padding: 20px;
}


.product-card {
background: white;
display: flex;
align-items: center;
padding: 20px;
gap: 20px;
border-bottom: 1px solid #ccc;
}


.product-card img {
width: 80px;
}


.product-details {
padding: 20px;
text-align: center;
}


.product-details img {
width: 250px;
}


.btn {
padding: 10px 20px;
cursor: pointer;
margin-top: 10px;
}


.admin-page {
padding: 20px;
}


.admin-form input {
display: block;
margin: 10px 0;
padding: 10px;
width: 300px;
}


.admin-card {
display: flex;
align-items: center;
background: white;
padding: 15px;
margin-top: 20px;
border: 1px solid #ccc;
gap: 20px;
}


.admin-card img {
width: 80px;
}